html, body{
  margin: 10px;
  padding: 0px;
  flex: 1;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #f5f3f3;
  height: 100%;
}

.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34; /* Dark background 282c34 */
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 75px;
  background-color: #261b17; /* Darker background 1a1a1a */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  user-select: none;
} 

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100lvw;
  position: relative;
  bottom: 0;
  color: white;
  height: 100px;
  background-color: #261b17; /* Darker background 1a1a1a */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
}

.welcome-message{
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh/3);
  position: relative;
  user-select: none;
}

.nav-title{
  display: flex;
  align-items: left;
  margin: 0;
  top: 25px;
  left: 25px;
  height: 66%;
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  user-select: none;
}

.nav-title:hover{
  cursor: pointer;
}

.default-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: calc(1/4 * 100vh);
  margin-top: 1em;
}

.collection-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 320px; /* Width of the card (was 300 in case we want to revert it back */ 
  height: 320px; /* Height of the card (was 268 in case we want to revert */;
  background-color: #f6f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.collection-card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100vw; /* Max width was 1200px  */
  flex-wrap: wrap;
}

.collection-card-header-div{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative;
}

.collection-card-header{
  align-items: center;
  justify-content: center;
  margin: 0;
  flex: 1;
}
.collection-card:hover{
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(48, 27, 7, 0.6); /* 37 21 6 0.5*/
}

.collection-card-image{
  width: 80%;
  height: 40%; /* Adjusted height for the image */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 5px;
}

.view-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  min-height: 30px;
  background-color: #e7e3e2; /* Darker background 1a1a1a */
  color: #0063ae;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.view-button:hover{
  cursor: pointer;
  background-color: #d0c9c8;
}
.view-button:active{
  background-color: #b0a8a7;
}

.item-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh/4);
  color: #200f0f;
  font-size: 24px;
  position: relative;
}

.item-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.item-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  flex-wrap: wrap;;
}

.add-button{
  align-items: center;
  justify-content: center;
  width: 10em;
  min-height: 30px;
  background-color: #261b17; /* Darker background e7e3e2 */
  color: #f8f8f8;
  margin-top: 20px;
  border: none; 
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.add-button:hover{
  background-color: #3c2d28; /* Slightly darker on hover */
}
.add-button:active{
  background-color: #4f3f3a; /* Even darker on active */
}

.back-button-div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  min-height: 30px;
  background-color: #261b17; /* Darker background e7e3e2 */
  color: #f8f8f8;
  top: 10vh;
  left: 2vw;
  position: relative;
  border: none; 
  border-radius: 5px;
  text-decoration: none;
  z-index: 10;
}

.back-button-div:hover{
  background-color: #3c2d28; /* Slightly darker on hover */
  cursor: pointer;
}
.back-button-div:active{
  background-color: #4f3f3a; /* Even darker on active */
}

.favorite-button{
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
  }

.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh/3);
  position: relative;
  margin-top: 100px;
}