html, body{
  margin: 10px;
  padding: 0px;
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #f5f3f3;
}

.root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34; /* Dark background 282c34 */
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 75px;
  background-color: #261b17; /* Darker background 1a1a1a */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: center;
  
} 

.welcome-message{
  display: flex;
  top: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh/3);
  position: relative;
  
}

.nav-title{
  display: flex;
  align-items: left;
  margin-top: 1em; 
  margin-left: 1em;
  left: 0;
  height: 100%;
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  user-select: none;
}

.nav-title:hover{
  cursor: pointer;
}

.default-collection{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(1/4 * 100vh);
  margin-top: 1em;
}

.collection-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px; /* Width of the card */
  height: 268px; /* Height of the card */;
  background-color: #f6f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.collection-card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  flex-wrap: wrap;
}

.collection-card-header{
  align-items: center;
  justify-content: center;
}
.collection-card:hover{
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(37, 21, 6, 0.5);
}

.view-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  min-height: 30px;
  background-color: #e7e3e2; /* Darker background 1a1a1a */
  color: #0063ae;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.view-button:hover{
  cursor: pointer;
  background-color: #d0c9c8;
}
.view-button:active{
  background-color: #b0a8a7;
}

.item-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh/4);
  color: #200f0f;
  font-size: 24px;
  position: relative;
}

.item-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.item-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: 1200px;
  flex-wrap: wrap;;
}

.add-button{
  align-items: center;
  justify-content: center;
  width: 10em;
  min-height: 30px;
  background-color: #261b17; /* Darker background e7e3e2 */
  color: #f8f8f8;
  margin-top: 20px;
  border: none; 
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.add-button:hover{
  background-color: #3c2d28; /* Slightly darker on hover */
}
.add-button:active{
  background-color: #4f3f3a; /* Even darker on active */
}

.error-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh/3);
  position: relative;
  margin-top: 100px;
}